<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <footer>
        <div class="container">
          <div class="footer-content">
            <!-- Newsletter -->
            <div class="newsletter">
              <h3>Suscríbete a nuestro Newsletter</h3>
              <form action="#" method="post">
                <input type="email" name="email" placeholder="Tu correo electrónico" required>
                <button type="submit">Suscribirse</button>
              </form>
            </div>
      
            <!-- Redes Sociales -->
            <div class="social-media">
              <h3>Síguenos</h3>
              <ul>
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
              </ul>
            </div>
      
            <!-- Información de Contacto -->
            <div class="contact-info">
              <h3>Contacto</h3>
              <p><i class="fas fa-map-marker-alt"></i> Calle Leandro M. Alem,San salvador de jujuy, Argentina</p>
              <p><i class="fas fa-phone-alt"></i> +54 9 388 123-4567</p>
              <p><i class="fas fa-envelope"></i> kron@hotmail.com</p>
            </div>
      
            <!-- Mapa -->
            <div class="map">
              <h3>Encuéntranos</h3>
              <iframe src="https://www.google.com/maps/embed?pb=..." width="200" height="120" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
          </div>
      
          <!-- Derechos Reservados -->
          <div class="footer-bottom">
            <p>&copy; 2025 Esteban Rios. Todos los derechos reservados.</p>
          </div>
        </div>
      </footer>
</body>
</html>